

<div>
	<ul class="breadcrumb">
		<li><a href="#">Home</a> <span class="divider">/</span></li>
		<li><a href="#">Pdfview 2</a></li>
	</ul>
</div>


<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-tasks"></i> Test.pdf
			</h2>
		</div>
		<embed ng-src="{{content}}" style="width: 600px; height: 800px;"></embed>  
		<!--
			<embed ng-src="{{content}}" ></embed>
		-->

	</div>
	<!--/span-->

</div>
<!--/row-->

