
<div class="container-fluid">
	<div class="row-fluid">

		<div class="row-fluid">
		<!--class="span5 center login-header"-->
			<div class="span5 center" style="height:80px; border: 2px solid; border-radius:5px; border-color:#CC0000; background-color:#FFCCCC; position:relative; top: 80px; left: center">				
				<h2>
				<img alt="Selex ES Logo" src="img/fiore.png" style="max-width: 30%; position:relative; top: 10px; left:0px"/>
				<span style="position:relative; top: center; left: 0px">Login to Selex ES Webapp</span>
				</h2>
			</div>
			<!--/span-->
		</div>
		<!--/row-->
		
		<div
			cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
			<div class="row-fluid">
				<div class="well span5 center login-box" style="border: 2px solid; border-color:#CC0000; position:relative; top: 90px; left: center"">
					<div class="alert alert-warning" ng-show="authReason">
						{{authReason}}</div>
					<div class="alert alert-error" ng-show="authError">
						{{authError}}</div>
					<div class="alert alert-info">Please login with your Username
						and Password.</div>
					<form class="login-form"" >
						<fieldset>
							<div class="input-prepend" title="Username" data-rel="tooltip">
								<span class="add-on"><i class="icon-user"></i>
								</span><input autofocus class="input-large span10" name="username"
									id="username" type="text" ng-model="user.username" />
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password" data-rel="tooltip">
								<span class="add-on"><i class="icon-lock"></i>
								</span><input class="input-large span10" name="password" id="password"
									type="password" ng-model="user.password" />
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend">
								<label class="remember" for="remember"><input
									type="checkbox" id="remember" ng-model="remember" />Remember me</label>
							</div>
							<div class="clearfix"></div>

							<p class="center span5">
							<div>
								<button class="btn btnLogin" 
									ng-disabled='form.$invalid' ng-click="login()">Login</button>
								<button class="btn cancel" ng-click="clearForm()">Clear</button>
							</div>
							</p>
						</fieldset>
					</form>
				</div>
				<!--/btn btn-primary login span-->
			</div>
			<!--/row-->
		</div>
	</div>
	<!--/fluid-row-->

</div>
<!--/.fluid-container-->


